@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');


/* Base colors */
.color-white {
  color: #fafafa;
}
.color-gray {
  color: #242b33;
}
.color-gray-brightness {
  color: #cecbcb;
}
.color-gray-intermediate {
  color: #888787;
}
.color-gray-strong {
  color: #333;
}
.color-gray-blue{
  color: #3d3d3d;
}
.color-gray-strong:hover {
  color: #333;
  font-weight: 600;
}
.color-gray-dark {
  color: #666666;
}
.color-green {
  color: #00b92e;
}
.color-green-2 {
  color: #01a029;
}
/* Background colors */
.background-white {
  background-color: #fafafa;
}
.background-gray-3 {
  background: #0c0c0c;
}

.background-gray-2 {
  background: #1d1c1c;
}

.background-gray-1 {
  background: #333;
}
.background-shadow:hover{
  background: radial-gradient(circle, rgb(236, 235, 235) 0%, rgba(250,250,250,1) 100%);
}

/* Image filters*/
.opacity {
  opacity: 96%;
}
.black-white-filter{
  filter: saturate(0%) brightness(25%);
}
.filter-black-and-white{
  filter: saturate(0%);
}
.filter-black-and-white:hover{
  filter: saturate(100%);
}

/* font decor */
.italic {
  font-style: italic;
}
/* Font-weight properties */
.light-300-text {
  font-weight: 300;
}
.light-400-text {
  font-weight: 400;  
}
.strong-text{
  font-weight: 500;
}
.strong-1-text {
  font-weight: 600;
}
.exp-item {
  font-weight: 300;
  font-size: calc(7px + 1.7vmin);
}
/* Font-size properties*/
.fz-1 {
  font-size: calc(9px + 1.7vmin);
}
.fz-2 {
  font-size: calc(7px + 1.7vmin);
}
.fz-3 {
  font-size: calc(10px + 3vmin);
}
.fz-4 {
  font-size: calc(6px + 1.5vmin);
}
.fz-5 {
  font-size: calc(10px + 2vmin);
}
.fz-6 {
  font-size: calc(5px + 1.4vmin);
}

/* align text */
.t-align-center {
  text-align: center;
}
/* padding & margin */
.without-padding-bottom{
  padding-bottom: 0;
}
.without-padding-bottom{
  margin-bottom: 0;
}
.without-margin {
  margin: 0;
}
.margin-small {
  margin: 0.5em;
}
.margin-b-small{
  margin-bottom: 0.5em;
}
.margin-t-small{
  margin-top: 0.3em;
}
.padding-v-small{
  padding: 1em;
}
.padding-vmin-v-small{
  padding: 0.5vmin;
}
.padding-small{
  padding: 1vmin;
}
.padding-b-small{
  padding-bottom: 1vmin;
}
.padding-large {
  padding: 15vmin;
}

/* Flex properties*/
.flex {
  display: flex;
}
.column {
  display: flex;
  flex-direction: column;
}
.column-flex {
  display: flex;
  flex-direction: column;
}
.row-custom {
  display: flex;
  flex-direction: row;
}
.d-content {
  display: contents;
}
/* Justify properties*/
.justify-start {
  justify-content: flex-start;
}
.justify-s-around {
  justify-content: space-around;
}
.justify-s-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
/* Align properties */
.align-center {
  align-self: center;
}
.align-f-end {
  align-self: flex-end;
}
.align-init {
  align-self: initial;
}
.align-items-center {
  align-items: center;
}

/* Size properties*/
.height-400 {
  height: calc(30px + 78vmin);
}
.height-30{
  height: 30vmin;
}
.w-fix-little {
  max-width:100%;
  height: 10vmin;
  object-fit: contain;
  margin: 1vmin;
}
.w-fix-big {
  height: 27vmin;
  margin: 0.3em;
}
.f-width {
  width: fit-content !important;
}

/* elems styles */
.link-item {
  inline-size: max-content;
  text-decoration: unset;
}
.link-item:hover {
  font-weight: 800;
  color: #fafafa;
}


/**/
.App {
  font-family: 'Fira Code', monospace;
  text-align: left;
}

.aling-centered {
  align-self: flex-end !important;
}

/* bootstrap modifiers */
.carousel-control-prev-icon {
  display: none !important;
}
.carousel-control-next-icon {
  display: none !important;
}
.carousel-caption {
  right: 5% !important;
  left: 5% !important;
  bottom: 15vmin !important;
}
.MuiTimelineConnector-root {
  display: none;
}
.MuiTimeline-root{
  display: flex !important;
  padding: 0 !important;
  flex-grow: unset !important;
  flex-direction: column !important;
}
.MuiAccordion-root {
  position: inherit !important;
}
.MuiAccordionSummary-content {
  display: revert !important;
}
.MuiAccordionSummary-root {
  display: contents !important;
  padding: none !important;
  min-height: none !important;
}
.MuiAccordionBase-root {
  position: none !important;
  align-items: none !important;
  justify-content: none !important;
}
.MuiPaper-elevation1 {
  box-shadow: none !important;
  background-color: unset !important;
}
.MuiCollapse-entered, .MuiCollapse-container {
  padding-left: 3vmin !important;
  padding-right: 3vmin !important;
}
.MuiTimelineOppositeContent-root {
  max-width: 5em !important;
  text-align: unset !important;
}
/* media desktop modifiers */
@media only screen and (min-width: 768px) {
  .fz-5 {
    font-size: calc(10px + 3vmin);
  }
  .App-header {
    flex-direction: row;
    justify-content: flex-start;
  }
  .App-logo {
    height: calc(8px + 23vmin);
    align-self: flex-start;
    margin-bottom: 0.2em;
    margin-left: 3.5vmin;
    margin-right: 4.5vmin;
  }
  .App-link {
    font-size: calc(4px + 1vmin);
  }
  .header-contact-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .App-body {
    justify-content: flex-start;
  }
  .header-elem-box {
    justify-content: flex-start;
  }
  .title-header {
    text-align: initial;
  }
  .contact-list {
    flex-direction: row;
    justify-content: space-between;
  }
  .height-400 {
    height: calc(20px + 60vmin);
  }
  .exp-item-3{
    font-size: calc(3px + 1vmin);
  }
  .MuiCollapse-entered, .MuiCollapse-container {
    padding-left: 30vmin !important;
    padding-right: 30vmin !important;
  }
  .column-flex {
    display: flex;
    flex-direction: row;
  }
  .desktop-flex {
    display: flex;
  }
  .padding-large-desktop{
    padding:15vmin;
  }
}